# Python
__pycache__/
*.pyc
.venv/
env/
venv/
.env

# Models & Data
*.csv
*.keras
*.task
*.pkl
*.h5
!backend/ai_models/


# Datasets (Training images)
model_training/image_dataset/
*.jpg
*.jpeg
*.png
*.gif

# OS
.DS_Store
Thumbs.db

