# Python
__pycache__/
*.pyc
.venv/
env/
venv/
.env

# Models & Data (if you want to ignore them later, but keep them for now)
# *.csv
# *.keras
# *.task
# *.pkl

# Image Dataset (too large for git, ~23GB)
model_training/image_dataset/

# OS
.DS_Store
Thumbs.db
